menu "CA manager"

    config CA_UPDATER_STORAGE_LABEL
        string "SPIFFS partition label"
        default "ca_store"

    config CA_UPDATER_SPIFFS_BASE_PATH
        string "SPIFFS mount path"
        default "/spiffs"

    config CA_UPDATER_BUNDLE_FILENAME
        string "Active bundle file"
        default "bundle_ca.bin"

    config CA_UPDATER_VERSION_FILENAME
        string "Active bundle version file"
        default "bundle_ca.version"

    config CA_UPDATER_MAX_BUNDLE_SIZE
        int "Maximum bundle size"
        default 262144

endmenu
